* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    font-family: 'Whitney', sans-serif;
    line-height: 1.4; /* modificato con correzione */
}

.container { /* modificato con correzione */
    max-width: 1300px;
    margin: auto;
    padding-inline: 1rem;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block; /* modificato con correzione */
    padding: 0.5em 0.7em;
    border-radius: 9em; /* modificato con correzione */
    white-space: nowrap; /* modificato con correzione */
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-dark {
    background-color: black;
    color: white;
}

.btn-violet {
    background-color: #7288DA;
    color: white;
}

.btn-big {
    padding: 0.8em 1.2em;
}

.btn-small {
    padding: 0.4em 0.7em;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2rem;
}

/* h3 {
    margin-bottom: 2.5rem;
} */

h5 {
    margin-bottom: 0.4rem;
}


/* inizio header */
header {
    background-color: #3161e0;
}

.nav-heading { /* modificato con correzione */
    height: 100px;
}

.nav-heading .container {
    height: 100%;
}

.nav-heading .main-menu {
    display: flex;
    height: 100%;
    list-style: none;
}

.nav-heading .menu-item {
    display: flex;
    align-items: center;
    height: 100%; 
    padding-inline: 1rem;
    color: white;
    white-space: nowrap; /* modificato con correzione */
}

.nav-heading .logo-item,
.nav-heading .button-item {
    display: flex; 
    align-items: center;
    flex: 1 0 0; /* modificato con correzione */
}

.nav-heading .logo-item a {
    height: 50%; /* modificato con correzione */
}

.nav-heading .logo-item img {
    height: 100%; 
}

.nav-heading .button-item {
    justify-content: flex-end; 
}

.nav-heading .menu-item:hover {
    background-color: red;
    cursor: pointer;
} 

.jumbo {
    background-image: url('../img/jumbo.png'); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.jumbo p {
    margin-bottom: 1rem; 
}

.jumbo .content {
    max-width: 800px; /* modificato con correzione */
    margin: auto;
    padding: 1rem; /* modificato con correzione */
}

.jumbo {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* inizio main */
main section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-first .container {
    display: flex;
    align-items: center;
    gap: 10%; /* modificato con correzione */
}

.section-first.reverse .container {
    flex-direction: row-reverse;

}

.background { 
    background-color: #F5F5F5;
}

.section-first .image {
    /* width: 500px; */
    flex: 0 0 60%; /* modificato con correzione */
}

.section-first .image img {
    width: 100%; /* modificato con correzione */
}

.section-first .text {
    /* width: 300px; */
    flex: 0 0 30%; /* modificato con correzione */
}

.section-second {
    text-align: center; 
}

.section-second h3 { 
    padding: 3rem; 
    max-width: 600px; 
    margin-inline: auto; 
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
}

/* inizio footer */
footer {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer .footer-top {
    display: flex;
    border-bottom: 2px solid #7288DA; /* modificato con correzione */
    padding-bottom: 20px; /* modificato con correzione */
    margin-bottom: 30px; /* modificato con correzione */
}

footer .column-socials {
    flex: 0 0 40%; /* modificato con correzione */
    color: white;
}

footer .column-socials h2 {
    color: #7288DA;
    margin-bottom: 1em;
    /* margin-right: 1em; */
}

footer .column-socials .lang {
    margin-bottom: 1em;
}

footer .lang img {
    height: 1em; 
}

footer .socials {
    font-size: 1.5em;
}

footer .socials > i { /* modificato con correzione */
    padding-right: 1rem;
}

footer .first-level-list {
    flex: 0 0 60%; /* modificato con correzione */
    display: flex; 
    list-style: none;
}

ul ul {
    list-style: none;
}

footer .first-level-list .column-links {
   flex: 0 0 25%; 
   color: #7288DA;
}

footer li > a {
    color: white;
    line-height: 2em;
    font-size: 16.6px;
}

.logo-footer img {
    height: 45px;
    margin-bottom: 2rem;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
} 

